<main>
    <h1>Edit <%= problem.title %></h1>
    <form action="/problem/<%= problem.id %>/edit" method="post">
        <label for="name">Name</label>
        <input type="text" name="title" id="title" value="<%= problem.title %>">
        <label for="description">Description</label>
        <div class="grow-wrap">
            <textarea name="description" id="description" oninput="this.parentNode.dataset.replicatedValue = this.value"><%= problem.description %></textarea>
        </div>
        <button type="submit">Edit</button>
    </form>
    <a href="/problems/<%= problem.id %>">Return to the problem page</a>
</main>

<script defer>
    document.addEventListener('DOMContentLoaded', () => {
        const textarea = document.querySelector('textarea');
        textarea.parentNode.dataset.replicatedValue = textarea.value;
    });
</script>